.header{
    background-color: slateblue;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    width: 100vw;
    padding: 0px 10px 0px 10px; 
}

.header img{
    width: 80px;
    height: 80px;
}

.image-header{
    width: 100px;
    filter: drop-shadow(5px 5px 10px #000);
}

.header nav{
    display: flex;
    flex-direction: row;
}

.header a{
   text-decoration: none; 
   color: white;
   margin: 10px;
   text-shadow: 3px 3px 5px #000;
}